body.dark-mode .table-item {
    background-color: #09203f;
}

body.dark-mode .item-heading {
    color: #2b99ff;
}

body.dark-mode .item-sub-heading {
    color: #dbdbdb;
}

body.dark-mode .table-item-body {
    background-color: #09203f;
}

body.dark-mode .ant-card-meta {
    background-color: #292929;
}

body.dark-mode .ant-card-head-title {
    color: #2b99ff;
}

body.dark-mode .ant-card-meta-title {
    color: #2b99ff;
}

body.dark-mode .ant-card-meta-description {
    color: #2b99ff;
}

body.dark-mode .ant-card {
    background-color: #09203f;
    border: none
}

body.dark-mode .card-earned-number {
    color: #2b99ff;
}

body.dark-mode .extra-text-view {
    color: #0d2b47;
}

body.dark-mode .ant-progress-text {
    color: #0d2b47;
}

body.dark-mode .ant-switch {
    border: #0d2b47 solid 8px;
}

body.dark-mode .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
    color: #2b99ff;
}

body.dark-mode .ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
    color: #e2e2e2;
}

body.dark-mode .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description {
    color: #2b99ff;
}

body.dark-mode .ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description {
    color: #e2e2e2;
}

body.dark-mode .ant-result-title {
    color: #007ff5;
}

body.dark-mode .ant-result-subtitle {
    color: #e2e2e2;
}

body.dark-mode .ant-steps-item-icon>.ant-steps-icon {
    color: #09203f;
}

body.dark-mode .ant-steps-item-icon {
    background-color: #2b99ff;
}

body.dark-mode .refresh-btn-view {
    background-color: #0d2b47;
    color: #30a2fa;
}

body.dark-mode .ant-drawer-wrapper-body {
    background: #09203f;
}

body.dark-mode .ant-drawer-header {
    background: #09203f;
}

body.dark-mode .ant-drawer-title {
    color: #e2e2e2;
}

.refresh-btn-view {
    background-color: #30a2fa;
}

.table-item {
    margin: 2px 30px;
}

.table-item-body {
    margin: 2px 30px;
    background-color: #30a2fa;
}

.card-custom-bottom {
    box-shadow: rgba(3, 8, 20, 0.2) 0px 0rem 0.25rem;
    transition: all 500ms;
    overflow: hidden;
    padding: 10px;
    cursor: pointer;
    border-radius: 0px 0px 8px 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-custom-bottom:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-0.5px) scale(1);
}

.card-custom-none {
    box-shadow: rgba(3, 8, 20, 0.2) 0px 0.02rem 0.25rem;
    transition: all 500ms;
    overflow: hidden;
    padding: 10px;
    cursor: pointer;
    /* border-radius: 0px 0px 8px 8px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-custom-none:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-0.5px) scale(1);
}

.card-custom {
    box-shadow: rgba(3, 8, 20, 0.2) 0px 0rem 0.25rem;
    transition: all 500ms;
    overflow: hidden;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px 8px 0px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-custom:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-0.5px) scale(1);
}

.card-custom-both {
    box-shadow: rgba(3, 8, 20, 0.2) 0px 0rem 0.25rem;
    transition: all 500ms;
    overflow: hidden;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-custom-both:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-0.5px) scale(1);
}

.card-custom-extra {
    box-shadow: rgba(3, 8, 20, 0.2) 0px 0rem 0.25rem;
    transition: all 500ms;
    overflow: hidden;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ant-card-meta-title {
    color: #2e84d3;
    font-weight: 500;
    font-size: smaller;
}

.ant-card-head-title {
    color: #0d2b47;
    font-weight: 500;
    font-size: small;
}

.ant-card-meta-description {
    color: #0d2b47;
}

.card-earned-number {
    color: #0d2b47;
    font-weight: 700;
    font-size: small;
}


/* .card{
	 border-radius: 8px;
 } */

.item-heading {
    color: #e2e2e2;
    font-weight: 500;
    font-size: small;
}

.item-sub-heading {
    color: rgba(24, 24, 24, 0.747);
    font-weight: 500;
    font-size: smaller;
}

.site-drawer-render-in-current-wrapper {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.ant-progress-inner {
    border: #e2e2e2 solid 1px;
    background-color: white;
}

.ant-card-meta {
    background-color: white;
}

.ant-card {
    background-color: white;
}